<%-include('partial/header')-%>
    <div class="jumbotron">
      <h1 class="display-3">Welcome To Profile</h1>
     <hr class="my-4">
      user details <%= data%>
    </div>
<%-include('partial/footer')-%>